# =========================
#  Maven
# =========================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# O Maven Wrapper (mvnw, mvnw.cmd e maven-wrapper.properties)
# DEVE ser versionado para garantir a mesma versao do Maven pra todos.
# Se usar o wrapper antigo baseado em jar, versione o jar com a excecao abaixo:
# !.mvn/wrapper/maven-wrapper.jar

# =========================
#  Java / artefatos de build
# =========================
*.class
*.log
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

# =========================
#  JavaFX (saidas de jlink / jpackage, se usar)
# =========================
/dist/
/build/

# =========================
#  IntelliJ IDEA
# =========================
.idea/
*.iml
*.ipr
*.iws
out/

# =========================
#  Eclipse / Spring Tool Suite (STS)
# =========================
.project
.classpath
.settings/
.factorypath
.apt_generated/
.apt_generated_test/
.springBeans
.sts4-cache/
.metadata/
.recommenders/
bin/

# =========================
#  macOS
# =========================
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd
.VolumeIcon.icns
.DocumentRevisions-V100
.TemporaryItems
.apdisk
__MACOSX/

# =========================
#  Windows
# =========================
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*.md
